footer
  .footer-content
    .site-map
      a(href="#") HOME
      i(class="fa fa-circle")
      a(href="#") RECIPES
      i(class="fa fa-circle")
      a(href="#") MY PAGE
      i(class="fa fa-circle")
      a(href="#") ABOUT US
      i(class="fa fa-circle")
      a(href="#") CONTACT US
    .social-icon
      a(href="#"): i(class="fa fa-facebook-official")
      a(href="#"): i(class="fa fa-instagram")
      a(href="#"): i(class="fa fa-twitter-square")
      a(href="#"): i(class="fa fa-pinterest-square")
      a(href="#"): i(class="fa fa-google-plus-square")
  p COPYRIGHT 2015 &copy; I LOVE PIE