header
  span(class="logo")
    | I<i class="fa fa-heart-o active-star"></i>Pie
  label(for="nav-trigger" class="nav-trigger")
    .hamburger
      span(class="line")
      span(class="line")
      span(class="line")
